.Cart {
  display: none;
  height: 50%;
  min-width: 300px;
  padding: 20px;
  position: fixed;
  z-index: 3;
  top: 90px;
  right: 20px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ECECEC;
}

.Cart::before {
  content: '';
  position: absolute;
  top: -9px;
  right: 18px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #ECECEC;
  display: block;
  width: 0;
  height: 0;
  z-index: 3;
}

.Cart::after {
  content: '';
  position: absolute;
  top: -7px;
  right: 19px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  display: block;
  width: 0;
  height: 0;
  z-index: 3;
}

.Cart--active {
  display: flex;
  flex-direction: column;
}

.Cart__items {
  flex-grow: 1;
  overflow-y: scroll;
  margin-bottom: 16px;
}

.Cart__item {
  margin-bottom: 16px;
}

.Cart__subtotal {
  text-align: right;
  margin-bottom: 16px;
}

.Cart__actions {
  display: flex;
}

.Cart__checkoutButton {
  flex-grow: 1;
  margin-left: 16px;
}