.Button {
  background-color: #F7F7F7;
  border: 1px solid #ECECEC;
  color: #000;
  padding: 16px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease 0s;
}

.Button:hover {
  background-color: #ECECEC; 
}

.Button--primary {
  background-color: #61DAFB;
  border-color: #59C7E5;
}
.Button--primary:hover {
  background-color: #59C7E5;
}

.Button--secondary {
  background-color: #fff;
  border-color: #61DAFB;
}
.Button--secondary:hover {
  background-color: #61DAFB;
}

.Button--disabled {
  cursor: default;
  pointer-events: none;
  color: #ccc;
  border-color: #ccc;
  background-color: #fff;
}