.NavbarCart {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  align-items: center;
  color: #fff;
}

.NavbarCart__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

.NavbarCart__listItem:first-child {
  margin-bottom: 10px;
}

.NavbarCart__button {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.NavbarCart__button:hover,
.NavbarCart--active .NavbarCart__button {
  background-color: #fff;
  color: #000;
}

.NavbarCart--active .NavbarCart__button:hover {
  background-color: #000;
  color: #fff;
}

.NavbarCart__icon {
  font-size: 36px;
 
}

