.Spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #61dafb;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.Spinner--width-fill {
  width: 100%;
}
.Spinner--width-xs {
  width: 16px;
}
.Spinner--width-s {
  width: 24px;
}
.Spinner--width-m {
  width: 32px;
}
.Spinner--width-l {
  width: 48px;
}
.Spinner--width-xl {
  width: 64px;
}
.Spinner--width-xxl {
  width: 128px;
}
.Spinner--width-xxxl {
  width: 256px;
}

.Spinner--height-fill {
  height: 100%;
}
.Spinner--height-xs {
  height: 16px;
}
.Spinner--height-s {
  height: 24px;
}
.Spinner--height-m {
  height: 32px;
}
.Spinner--height-l {
  height: 48px;
}
.Spinner--height-xl {
  height: 64px;
}
.Spinner--height-xxl {
  height: 128px;
}
.Spinner--height-xxxl {
  height: 256px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
