.Navbar {
  background-color: #20232A;
  height: 100px;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

.Navbar__logo {
  color: #61DAFB;
  text-decoration: none;
  font-size: 32px;
}